/.idea
*.mat
/data
*.pyc
*.pth
/run
sample_log.txt
stft_512_vit_sample_best.ckpt
model/wf_512_vit_sample_best300_64batch.ckpt
*.ckpt
/work_dirs/original
/work_dirs/stft
/work_dirs/wf
*.csv
*.png
.DS_Store
